

<div id="navigation-sub__container" class="navigation-sub__container">

    <h3>Getting started:</h3>
    
    <ul hx-get="./components/menus_dropdowns/navigation-sub-menu.html" hx-trigger="load" class="navigation-links">
    </ul>

    <div id="supportedVendors" class="supported-vendors">
        <ul>
            <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href=""><i class="fa-brands fa-facebook"></i>Facebook</a></li>
            <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href=""><i class="fa-brands fa-twitter"></i></i>Twitter</a></li>
            <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href=""><i class="fa-brands fa-instagram"></i>Instagram</a></li>
            <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href=""><i class="fa-brands fa-tiktok"> </i>Tiktok</a></li>
            <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href=""><i class="fa-brands fa-github"> </i>Github</a></li>
            <a id="list-faq" hx-get="./components/landing/faq.html" hx-target="#main" href="">Social help FAQ</a>
        </ul>    
    </div>
</div>