<div class="main-container">

    <h1>Catchy big fonts, <br>how we do things differently. <span>Highlighted info.</span></h1>
    <h1>Just a subtitle, extra info. <span>More info.</span></h1>
    
    <h3>this a small subtitle</h3>

    <button onclick="showErrorToast()" id="cta-joinNowButton" class="">SIGN UP</button>

    <h2>Extra heading to make the page scrollable.</h2>
    
    <p>Could have set the viewport height to 300 to avoid writing nonsense like this but hey.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquid hic quidem, deserunt vitae voluptas. Asperiores perspiciatis assumenda eligendi corrupti. Laudantium labore illo veniam, veritatis recusandae cupiditate qui aliquid quod placeat exercitationem quas nostrum quisquam, voluptas odit earum eos dolore. Ad necessitatibus assumenda itaque, dolorum consectetur mollitia maiores nobis molestiae architecto nam, sapiente fugit hic dolores! Sed, aliquam fugiat facilis voluptatibus at quisquam consectetur culpa cupiditate dolorum maxime explicabo repellat quos dolores autem. Ipsum vitae eos facere accusantium optio, quaerat sint in ratione recusandae expedita, porro quo non commodi temporibus quisquam unde. Consequatur temporibus non, repellendus ad, numquam, incidunt ea explicabo ratione sit doloremque voluptatibus placeat asperiores repudiandae molestias dignissimos perferendis suscipit modi ducimus voluptates!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum aliquid hic quidem, deserunt vitae voluptas. Asperiores perspiciatis assumenda eligendi corrupti. Laudantium labore illo veniam, veritatis recusandae cupiditate qui aliquid quod placeat exercitationem quas nostrum quisquam, voluptas odit earum eos dolore. Ad necessitatibus assumenda itaque, dolorum consectetur mollitia maiores nobis molestiae architecto nam, sapiente fugit hic dolores! Sed, aliquam fugiat facilis voluptatibus at quisquam consectetur culpa cupiditate dolorum maxime explicabo repellat quos dolores autem. Ipsum vitae eos facere accusantium optio, quaerat sint in ratione recusandae expedita, porro quo non commodi temporibus quisquam unde. Consequatur temporibus non, repellendus ad, numquam, incidunt ea explicabo ratione sit doloremque voluptatibus placeat asperiores repudiandae molestias dignissimos perferendis suscipit modi ducimus voluptates!</p>

</div>

