    <li class="navigation-list-item"><a hx-get="./components/landing/home.html" hx-target="#main" href="">Home</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/about.html" hx-target="#main" href="">About</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/faq.html" hx-target="#main" href="">Help</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Store</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Actions</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Every</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Single</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Crazy</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Button</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Here</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">FAQ</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">News</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">...</a></li>