    <li class="navigation-list-item"><a onclick="renderSearchBar()">Search <i id="searchArrow" class="fa-solid fa-chevron-right"></i></a></li>
    <li id="searchBarTarget" class="navigation-list-item" style="display: none;"></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/about.html" hx-target="#main" href="">Articles</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/faq.html" hx-target="#main" href="">Friends</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/random.html" hx-target="#main" href="">Button</a></li>
    <li class="navigation-list-item"><a hx-get="./components/landing/config.html" hx-target="#main" href="">Things</a></li>